:root {
  /* nudge: ベースとなる間隔の単位。
   Figmaのオートレイアウトのスペーシングに相当。
   レスポンシブデザインのために、ビューポートサイズに応じて変化する。 */
  --nudge: 8px;

  /* 既存の色設定 */
  --primary-color: hsl(151, 37%, 54%);
  --dark-ratio1: 20%;
  --light-ratio1: 80%;
  --light-ratio2: 90%;
}
