/* グリッドの基本設定 */
[class*="grid("],
[data-s-mobile*="grid("],
[data-mobile*="grid("],
[data-tablet*="grid("],
[data-laptop*="grid("],
[data-desktop*="grid("],
[data-widescreen*="grid("]
{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* 全ての子要素に対して一括 */
[class*="grid(quarter:1)"] > * { grid-column: span 3; }
[class*="grid(quarter:2)"] > * { grid-column: span 6; }
[class*="grid(quarter:3)"] > * { grid-column: span 9; }
[class*="grid(quarter:4)"] > * { grid-column: span 12; }

[class*="grid(1)"] > * { grid-column: span 1; }
[class*="grid(2)"] > * { grid-column: span 2; }
[class*="grid(3)"] > * { grid-column: span 3; }
[class*="grid(4)"] > * { grid-column: span 4; }
[class*="grid(5)"] > * { grid-column: span 5; }
[class*="grid(6)"] > * { grid-column: span 6; }
[class*="grid(7)"] > * { grid-column: span 7; }
[class*="grid(8)"] > * { grid-column: span 8; }
[class*="grid(9)"] > * { grid-column: span 9; }
[class*="grid(10)"] > * { grid-column: span 10; }
[class*="grid(11)"] > * { grid-column: span 11; }
[class*="grid(12)"] > * { grid-column: span 12; }

/* columnごとに個別に指定 */
[class*="grid("],
[data-s-mobile*="grid("],
[data-mobile*="grid("],
[data-tablet*="grid("],
[data-laptop*="grid("],
[data-desktop*="grid("],
[data-widescreen*="grid("]
{
  & > [class*="col(quarter:1)"] { grid-column: span 3; }
  & > [class*="col(quarter:2)"] { grid-column: span 6; }
  & > [class*="col(quarter:3)"] { grid-column: span 9; }
  & > [class*="col(quarter:4)"] { grid-column: span 12; }

  & > [class*="col(1)"] { grid-column: span 1; }
  & > [class*="col(2)"] { grid-column: span 2; }
  & > [class*="col(3)"] { grid-column: span 3; }
  & > [class*="col(4)"] { grid-column: span 4; }
  & > [class*="col(5)"] { grid-column: span 5; }
  & > [class*="col(6)"] { grid-column: span 6; }
  & > [class*="col(7)"] { grid-column: span 7; }
  & > [class*="col(8)"] { grid-column: span 8; }
  & > [class*="col(9)"] { grid-column: span 9; }
  & > [class*="col(10)"] { grid-column: span 10; }
  & > [class*="col(11)"] { grid-column: span 11; }
  & > [class*="col(12)"] { grid-column: span 12; }
}

[class*="gap_col(x0.5)"] { column-gap: calc(var(--nudge) * 0.5) }
[class*="gap_col(x1)"] { column-gap: calc(var(--nudge) * 1) }
[class*="gap_col(x1.5)"] { column-gap: calc(var(--nudge) * 1.5) }
[class*="gap_col(x2)"] { column-gap: calc(var(--nudge) * 2) }
[class*="gap_col(x3)"] { column-gap: calc(var(--nudge) * 3) }
[class*="gap_col(x6)"] { column-gap: calc(var(--nudge) * 6) }
[class*="gap_col(x12)"] { column-gap: calc(var(--nudge) * 12) }

[class*="gap_row(x0.5)"] { row-gap: calc(var(--nudge) * 0.5) }
[class*="gap_row(x1)"] { row-gap: calc(var(--nudge) * 1) }
[class*="gap_row(x1.5)"] { row-gap: calc(var(--nudge) * 1.5) }
[class*="gap_row(x2)"] { row-gap: calc(var(--nudge) * 2) }
[class*="gap_row(x3)"] { row-gap: calc(var(--nudge) * 3) }
[class*="gap_row(x6)"] { row-gap: calc(var(--nudge) * 6) }
[class*="gap_row(x12)"] { row-gap: calc(var(--nudge) * 12) }


/* スマートフォン (S) 用のグリッド設定 */
@container style(--fncss-s-mobile) {

  /* 全ての子要素に対して一括 */
  [data-s-mobile*="grid(quarter:1)"] > * { grid-column: span 3; }
  [data-s-mobile*="grid(quarter:2)"] > * { grid-column: span 6; }
  [data-s-mobile*="grid(quarter:3)"] > * { grid-column: span 9; }
  [data-s-mobile*="grid(quarter:4)"] > * { grid-column: span 12; }

  [data-s-mobile*="grid(1)"] > * { grid-column: span 1; }
  [data-s-mobile*="grid(2)"] > * { grid-column: span 2; }
  [data-s-mobile*="grid(3)"] > * { grid-column: span 3; }
  [data-s-mobile*="grid(4)"] > * { grid-column: span 4; }
  [data-s-mobile*="grid(5)"] > * { grid-column: span 5; }
  [data-s-mobile*="grid(6)"] > * { grid-column: span 6; }
  [data-s-mobile*="grid(7)"] > * { grid-column: span 7; }
  [data-s-mobile*="grid(8)"] > * { grid-column: span 8; }
  [data-s-mobile*="grid(9)"] > * { grid-column: span 9; }
  [data-s-mobile*="grid(10)"] > * { grid-column: span 10; }
  [data-s-mobile*="grid(11)"] > * { grid-column: span 11; }
  [data-s-mobile*="grid(12)"] > * { grid-column: span 12; }

  /* columnごとに個別に指定 */
  [class*="grid("],
  [data-s-mobile*="grid("] {
    & > [data-s-mobile*="col(quarter:1)"] { grid-column: span 3; }
    & > [data-s-mobile*="col(quarter:2)"] { grid-column: span 6; }
    & > [data-s-mobile*="col(quarter:3)"] { grid-column: span 9; }
    & > [data-s-mobile*="col(quarter:4)"] { grid-column: span 12; }

    & > [data-s-mobile*="col(1)"] { grid-column: span 1; }
    & > [data-s-mobile*="col(2)"] { grid-column: span 2; }
    & > [data-s-mobile*="col(3)"] { grid-column: span 3; }
    & > [data-s-mobile*="col(4)"] { grid-column: span 4; }
    & > [data-s-mobile*="col(5)"] { grid-column: span 5; }
    & > [data-s-mobile*="col(6)"] { grid-column: span 6; }
    & > [data-s-mobile*="col(7)"] { grid-column: span 7; }
    & > [data-s-mobile*="col(8)"] { grid-column: span 8; }
    & > [data-s-mobile*="col(9)"] { grid-column: span 9; }
    & > [data-s-mobile*="col(10)"] { grid-column: span 10; }
    & > [data-s-mobile*="col(11)"] { grid-column: span 11; }
    & > [data-s-mobile*="col(12)"] { grid-column: span 12; }
  }

  [data-s-mobile*="gap_col(x0.5)"] { column-gap: calc(var(--nudge) * 0.5) }
  [data-s-mobile*="gap_col(x1)"] { column-gap: calc(var(--nudge) * 1) }
  [data-s-mobile*="gap_col(x1.5)"] { column-gap: calc(var(--nudge) * 1.5) }
  [data-s-mobile*="gap_col(x2)"] { column-gap: calc(var(--nudge) * 2) }
  [data-s-mobile*="gap_col(x3)"] { column-gap: calc(var(--nudge) * 3) }
  [data-s-mobile*="gap_col(x6)"] { column-gap: calc(var(--nudge) * 6) }
  [data-s-mobile*="gap_col(x12)"] { column-gap: calc(var(--nudge) * 12) }

  [data-s-mobile*="gap_row(x0.5)"] { row-gap: calc(var(--nudge) * 0.5) }
  [data-s-mobile*="gap_row(x1)"] { row-gap: calc(var(--nudge) * 1) }
  [data-s-mobile*="gap_row(x1.5)"] { row-gap: calc(var(--nudge) * 1.5) }
  [data-s-mobile*="gap_row(x2)"] { row-gap: calc(var(--nudge) * 2) }
  [data-s-mobile*="gap_row(x3)"] { row-gap: calc(var(--nudge) * 3) }
  [data-s-mobile*="gap_row(x6)"] { row-gap: calc(var(--nudge) * 6) }
  [data-s-mobile*="gap_row(x12)"] { row-gap: calc(var(--nudge) * 12) }

}

/* スマートフォン用のグリッド設定 */
@container style(--fncss-mobile) {

  /* 全ての子要素に対して一括 */
  [data-mobile*="grid(quarter:1)"] > * { grid-column: span 3; }
  [data-mobile*="grid(quarter:2)"] > * { grid-column: span 6; }
  [data-mobile*="grid(quarter:3)"] > * { grid-column: span 9; }
  [data-mobile*="grid(quarter:4)"] > * { grid-column: span 12; }

  [data-mobile*="grid(1)"] > * { grid-column: span 1; }
  [data-mobile*="grid(2)"] > * { grid-column: span 2; }
  [data-mobile*="grid(3)"] > * { grid-column: span 3; }
  [data-mobile*="grid(4)"] > * { grid-column: span 4; }
  [data-mobile*="grid(5)"] > * { grid-column: span 5; }
  [data-mobile*="grid(6)"] > * { grid-column: span 6; }
  [data-mobile*="grid(7)"] > * { grid-column: span 7; }
  [data-mobile*="grid(8)"] > * { grid-column: span 8; }
  [data-mobile*="grid(9)"] > * { grid-column: span 9; }
  [data-mobile*="grid(10)"] > * { grid-column: span 10; }
  [data-mobile*="grid(11)"] > * { grid-column: span 11; }
  [data-mobile*="grid(12)"] > * { grid-column: span 12; }

  /* columnごとに個別に指定 */
  [class*="grid("],
  [data-mobile*="grid("] {
    & > [data-mobile*="col(quarter:1)"] { grid-column: span 3; }
    & > [data-mobile*="col(quarter:2)"] { grid-column: span 6; }
    & > [data-mobile*="col(quarter:3)"] { grid-column: span 9; }
    & > [data-mobile*="col(quarter:4)"] { grid-column: span 12; }

    & > [data-mobile*="col(1)"] { grid-column: span 1; }
    & > [data-mobile*="col(2)"] { grid-column: span 2; }
    & > [data-mobile*="col(3)"] { grid-column: span 3; }
    & > [data-mobile*="col(4)"] { grid-column: span 4; }
    & > [data-mobile*="col(5)"] { grid-column: span 5; }
    & > [data-mobile*="col(6)"] { grid-column: span 6; }
    & > [data-mobile*="col(7)"] { grid-column: span 7; }
    & > [data-mobile*="col(8)"] { grid-column: span 8; }
    & > [data-mobile*="col(9)"] { grid-column: span 9; }
    & > [data-mobile*="col(10)"] { grid-column: span 10; }
    & > [data-mobile*="col(11)"] { grid-column: span 11; }
    & > [data-mobile*="col(12)"] { grid-column: span 12; }
  }

  [data-mobile*="gap_col(x0.5)"] { column-gap: calc(var(--nudge) * 0.5) }
  [data-mobile*="gap_col(x1)"] { column-gap: calc(var(--nudge) * 1) }
  [data-mobile*="gap_col(x1.5)"] { column-gap: calc(var(--nudge) * 1.5) }
  [data-mobile*="gap_col(x2)"] { column-gap: calc(var(--nudge) * 2) }
  [data-mobile*="gap_col(x3)"] { column-gap: calc(var(--nudge) * 3) }
  [data-mobile*="gap_col(x6)"] { column-gap: calc(var(--nudge) * 6) }
  [data-mobile*="gap_col(x12)"] { column-gap: calc(var(--nudge) * 12) }

  [data-mobile*="gap_row(x0.5)"] { row-gap: calc(var(--nudge) * 0.5) }
  [data-mobile*="gap_row(x1)"] { row-gap: calc(var(--nudge) * 1) }
  [data-mobile*="gap_row(x1.5)"] { row-gap: calc(var(--nudge) * 1.5) }
  [data-mobile*="gap_row(x2)"] { row-gap: calc(var(--nudge) * 2) }
  [data-mobile*="gap_row(x3)"] { row-gap: calc(var(--nudge) * 3) }
  [data-mobile*="gap_row(x6)"] { row-gap: calc(var(--nudge) * 6) }
  [data-mobile*="gap_row(x12)"] { row-gap: calc(var(--nudge) * 12) }

}

/* タブレット (MD) 用のグリッド設定 */
@container style(--fncss-tablet) {

  /* 全ての子要素に対して一括 */
  [data-tablet*="grid(quarter:1)"] > * { grid-column: span 3; }
  [data-tablet*="grid(quarter:2)"] > * { grid-column: span 6; }
  [data-tablet*="grid(quarter:3)"] > * { grid-column: span 9; }
  [data-tablet*="grid(quarter:4)"] > * { grid-column: span 12; }

  [data-tablet*="grid(1)"] > * { grid-column: span 1; }
  [data-tablet*="grid(2)"] > * { grid-column: span 2; }
  [data-tablet*="grid(3)"] > * { grid-column: span 3; }
  [data-tablet*="grid(4)"] > * { grid-column: span 4; }
  [data-tablet*="grid(5)"] > * { grid-column: span 5; }
  [data-tablet*="grid(6)"] > * { grid-column: span 6; }
  [data-tablet*="grid(7)"] > * { grid-column: span 7; }
  [data-tablet*="grid(8)"] > * { grid-column: span 8; }
  [data-tablet*="grid(9)"] > * { grid-column: span 9; }
  [data-tablet*="grid(10)"] > * { grid-column: span 10; }
  [data-tablet*="grid(11)"] > * { grid-column: span 11; }
  [data-tablet*="grid(12)"] > * { grid-column: span 12; }

  /* columnごとに個別に指定 */
  [class*="grid("],
  [data-tablet*="grid("]
  {
    & > [data-tablet*="col(quarter:1)"] { grid-column: span 3; }
    & > [data-tablet*="col(quarter:2)"] { grid-column: span 6; }
    & > [data-tablet*="col(quarter:3)"] { grid-column: span 9; }
    & > [data-tablet*="col(quarter:4)"] { grid-column: span 12; }

    & > [data-tablet*="col(1)"] { grid-column: span 1; }
    & > [data-tablet*="col(2)"] { grid-column: span 2; }
    & > [data-tablet*="col(3)"] { grid-column: span 3; }
    & > [data-tablet*="col(4)"] { grid-column: span 4; }
    & > [data-tablet*="col(5)"] { grid-column: span 5; }
    & > [data-tablet*="col(6)"] { grid-column: span 6; }
    & > [data-tablet*="col(7)"] { grid-column: span 7; }
    & > [data-tablet*="col(8)"] { grid-column: span 8; }
    & > [data-tablet*="col(9)"] { grid-column: span 9; }
    & > [data-tablet*="col(10)"] { grid-column: span 10; }
    & > [data-tablet*="col(11)"] { grid-column: span 11; }
    & > [data-tablet*="col(12)"] { grid-column: span 12; }
  }

  [data-tablet*="gap_col(x0.5)"] { column-gap: calc(var(--nudge) * 0.5) }
  [data-tablet*="gap_col(x1)"] { column-gap: calc(var(--nudge) * 1) }
  [data-tablet*="gap_col(x1.5)"] { column-gap: calc(var(--nudge) * 1.5) }
  [data-tablet*="gap_col(x2)"] { column-gap: calc(var(--nudge) * 2) }
  [data-tablet*="gap_col(x3)"] { column-gap: calc(var(--nudge) * 3) }
  [data-tablet*="gap_col(x6)"] { column-gap: calc(var(--nudge) * 6) }
  [data-tablet*="gap_col(x12)"] { column-gap: calc(var(--nudge) * 12) }

  [data-tablet*="gap_row(x0.5)"] { row-gap: calc(var(--nudge) * 0.5) }
  [data-tablet*="gap_row(x1)"] { row-gap: calc(var(--nudge) * 1) }
  [data-tablet*="gap_row(x1.5)"] { row-gap: calc(var(--nudge) * 1.5) }
  [data-tablet*="gap_row(x2)"] { row-gap: calc(var(--nudge) * 2) }
  [data-tablet*="gap_row(x3)"] { row-gap: calc(var(--nudge) * 3) }
  [data-tablet*="gap_row(x6)"] { row-gap: calc(var(--nudge) * 6) }
  [data-tablet*="gap_row(x12)"] { row-gap: calc(var(--nudge) * 12) }

}

/* ラップトップ (LG) 用のグリッド設定 */
@container style(--fncss-laptop) {
  /* 全ての子要素に対して一括 */
  [data-laptop*="grid(quarter:1)"] > * { grid-column: span 3; }
  [data-laptop*="grid(quarter:2)"] > * { grid-column: span 6; }
  [data-laptop*="grid(quarter:3)"] > * { grid-column: span 9; }
  [data-laptop*="grid(quarter:4)"] > * { grid-column: span 12; }

  [data-laptop*="grid(1)"] > * { grid-column: span 1; }
  [data-laptop*="grid(2)"] > * { grid-column: span 2; }
  [data-laptop*="grid(3)"] > * { grid-column: span 3; }
  [data-laptop*="grid(4)"] > * { grid-column: span 4; }
  [data-laptop*="grid(5)"] > * { grid-column: span 5; }
  [data-laptop*="grid(6)"] > * { grid-column: span 6; }
  [data-laptop*="grid(7)"] > * { grid-column: span 7; }
  [data-laptop*="grid(8)"] > * { grid-column: span 8; }
  [data-laptop*="grid(9)"] > * { grid-column: span 9; }
  [data-laptop*="grid(10)"] > * { grid-column: span 10; }
  [data-laptop*="grid(11)"] > * { grid-column: span 11; }
  [data-laptop*="grid(12)"] > * { grid-column: span 12; }

  /* columnごとに個別に指定 */
  [class*="grid("],
  [data-laptop*="grid("]
  {
    & > [data-laptop*="col(quarter:1)"] { grid-column: span 3; }
    & > [data-laptop*="col(quarter:2)"] { grid-column: span 6; }
    & > [data-laptop*="col(quarter:3)"] { grid-column: span 9; }
    & > [data-laptop*="col(quarter:4)"] { grid-column: span 12; }

    & > [data-laptop*="col(1)"] { grid-column: span 1; }
    & > [data-laptop*="col(2)"] { grid-column: span 2; }
    & > [data-laptop*="col(3)"] { grid-column: span 3; }
    & > [data-laptop*="col(4)"] { grid-column: span 4; }
    & > [data-laptop*="col(5)"] { grid-column: span 5; }
    & > [data-laptop*="col(6)"] { grid-column: span 6; }
    & > [data-laptop*="col(7)"] { grid-column: span 7; }
    & > [data-laptop*="col(8)"] { grid-column: span 8; }
    & > [data-laptop*="col(9)"] { grid-column: span 9; }
    & > [data-laptop*="col(10)"] { grid-column: span 10; }
    & > [data-laptop*="col(11)"] { grid-column: span 11; }
    & > [data-laptop*="col(12)"] { grid-column: span 12; }
  }

  [data-laptop*="gap_col(x0.5)"] { column-gap: calc(var(--nudge) * 0.5) }
  [data-laptop*="gap_col(x1)"] { column-gap: calc(var(--nudge) * 1) }
  [data-laptop*="gap_col(x1.5)"] { column-gap: calc(var(--nudge) * 1.5) }
  [data-laptop*="gap_col(x2)"] { column-gap: calc(var(--nudge) * 2) }
  [data-laptop*="gap_col(x3)"] { column-gap: calc(var(--nudge) * 3) }
  [data-laptop*="gap_col(x6)"] { column-gap: calc(var(--nudge) * 6) }
  [data-laptop*="gap_col(x12)"] { column-gap: calc(var(--nudge) * 12) }

  [data-laptop*="gap_row(x0.5)"] { row-gap: calc(var(--nudge) * 0.5) }
  [data-laptop*="gap_row(x1)"] { row-gap: calc(var(--nudge) * 1) }
  [data-laptop*="gap_row(x1.5)"] { row-gap: calc(var(--nudge) * 1.5) }
  [data-laptop*="gap_row(x2)"] { row-gap: calc(var(--nudge) * 2) }
  [data-laptop*="gap_row(x3)"] { row-gap: calc(var(--nudge) * 3) }
  [data-laptop*="gap_row(x6)"] { row-gap: calc(var(--nudge) * 6) }
  [data-laptop*="gap_row(x12)"] { row-gap: calc(var(--nudge) * 12) }
}

/* デスクトップ (XL) 用のグリッド設定 */
@container style(--fncss-desktop) {
  /* 全ての子要素に対して一括 */
  [data-desktop*="grid(quarter:1)"] > * { grid-column: span 3; }
  [data-desktop*="grid(quarter:2)"] > * { grid-column: span 6; }
  [data-desktop*="grid(quarter:3)"] > * { grid-column: span 9; }
  [data-desktop*="grid(quarter:4)"] > * { grid-column: span 12; }

  [data-desktop*="grid(1)"] > * { grid-column: span 1; }
  [data-desktop*="grid(2)"] > * { grid-column: span 2; }
  [data-desktop*="grid(3)"] > * { grid-column: span 3; }
  [data-desktop*="grid(4)"] > * { grid-column: span 4; }
  [data-desktop*="grid(5)"] > * { grid-column: span 5; }
  [data-desktop*="grid(6)"] > * { grid-column: span 6; }
  [data-desktop*="grid(7)"] > * { grid-column: span 7; }
  [data-desktop*="grid(8)"] > * { grid-column: span 8; }
  [data-desktop*="grid(9)"] > * { grid-column: span 9; }
  [data-desktop*="grid(10)"] > * { grid-column: span 10; }
  [data-desktop*="grid(11)"] > * { grid-column: span 11; }
  [data-desktop*="grid(12)"] > * { grid-column: span 12; }

  /* columnごとに個別に指定 */
  [class*="grid("],
  [data-desktop*="grid("]
  {
    & > [data-desktop*="col(quarter:1)"] { grid-column: span 3; }
    & > [data-desktop*="col(quarter:2)"] { grid-column: span 6; }
    & > [data-desktop*="col(quarter:3)"] { grid-column: span 9; }
    & > [data-desktop*="col(quarter:4)"] { grid-column: span 12; }

    & > [data-desktop*="col(1)"] { grid-column: span 1; }
    & > [data-desktop*="col(2)"] { grid-column: span 2; }
    & > [data-desktop*="col(3)"] { grid-column: span 3; }
    & > [data-desktop*="col(4)"] { grid-column: span 4; }
    & > [data-desktop*="col(5)"] { grid-column: span 5; }
    & > [data-desktop*="col(6)"] { grid-column: span 6; }
    & > [data-desktop*="col(7)"] { grid-column: span 7; }
    & > [data-desktop*="col(8)"] { grid-column: span 8; }
    & > [data-desktop*="col(9)"] { grid-column: span 9; }
    & > [data-desktop*="col(10)"] { grid-column: span 10; }
    & > [data-desktop*="col(11)"] { grid-column: span 11; }
    & > [data-desktop*="col(12)"] { grid-column: span 12; }
  }

  [data-desktop*="gap_col(x0.5)"] { column-gap: calc(var(--nudge) * 0.5) }
  [data-desktop*="gap_col(x1)"] { column-gap: calc(var(--nudge) * 1) }
  [data-desktop*="gap_col(x1.5)"] { column-gap: calc(var(--nudge) * 1.5) }
  [data-desktop*="gap_col(x2)"] { column-gap: calc(var(--nudge) * 2) }
  [data-desktop*="gap_col(x3)"] { column-gap: calc(var(--nudge) * 3) }
  [data-desktop*="gap_col(x6)"] { column-gap: calc(var(--nudge) * 6) }
  [data-desktop*="gap_col(x12)"] { column-gap: calc(var(--nudge) * 12) }

  [data-desktop*="gap_row(x0.5)"] { row-gap: calc(var(--nudge) * 0.5) }
  [data-desktop*="gap_row(x1)"] { row-gap: calc(var(--nudge) * 1) }
  [data-desktop*="gap_row(x1.5)"] { row-gap: calc(var(--nudge) * 1.5) }
  [data-desktop*="gap_row(x2)"] { row-gap: calc(var(--nudge) * 2) }
  [data-desktop*="gap_row(x3)"] { row-gap: calc(var(--nudge) * 3) }
  [data-desktop*="gap_row(x6)"] { row-gap: calc(var(--nudge) * 6) }
  [data-desktop*="gap_row(x12)"] { row-gap: calc(var(--nudge) * 12) }
}

/* ワイドスクリーン (XXL) 用のグリッド設定 */
@container style(--fncss-widescreen) {
  /* 全ての子要素に対して一括 */
  [data-widescreen*="grid(quarter:1)"] > * { grid-column: span 3; }
  [data-widescreen*="grid(quarter:2)"] > * { grid-column: span 6; }
  [data-widescreen*="grid(quarter:3)"] > * { grid-column: span 9; }
  [data-widescreen*="grid(quarter:4)"] > * { grid-column: span 12; }

  [data-widescreen*="grid(1)"] > * { grid-column: span 1; }
  [data-widescreen*="grid(2)"] > * { grid-column: span 2; }
  [data-widescreen*="grid(3)"] > * { grid-column: span 3; }
  [data-widescreen*="grid(4)"] > * { grid-column: span 4; }
  [data-widescreen*="grid(5)"] > * { grid-column: span 5; }
  [data-widescreen*="grid(6)"] > * { grid-column: span 6; }
  [data-widescreen*="grid(7)"] > * { grid-column: span 7; }
  [data-widescreen*="grid(8)"] > * { grid-column: span 8; }
  [data-widescreen*="grid(9)"] > * { grid-column: span 9; }
  [data-widescreen*="grid(10)"] > * { grid-column: span 10; }
  [data-widescreen*="grid(11)"] > * { grid-column: span 11; }
  [data-widescreen*="grid(12)"] > * { grid-column: span 12; }

  /* columnごとに個別に指定 */
  [class*="grid("],
  [data-widescreen*="grid("]
  {
    & > [data-widescreen*="col(quarter:1)"] { grid-column: span 3; }
    & > [data-widescreen*="col(quarter:2)"] { grid-column: span 6; }
    & > [data-widescreen*="col(quarter:3)"] { grid-column: span 9; }
    & > [data-widescreen*="col(quarter:4)"] { grid-column: span 12; }

    & > [data-widescreen*="col(1)"] { grid-column: span 1; }
    & > [data-widescreen*="col(2)"] { grid-column: span 2; }
    & > [data-widescreen*="col(3)"] { grid-column: span 3; }
    & > [data-widescreen*="col(4)"] { grid-column: span 4; }
    & > [data-widescreen*="col(5)"] { grid-column: span 5; }
    & > [data-widescreen*="col(6)"] { grid-column: span 6; }
    & > [data-widescreen*="col(7)"] { grid-column: span 7; }
    & > [data-widescreen*="col(8)"] { grid-column: span 8; }
    & > [data-widescreen*="col(9)"] { grid-column: span 9; }
    & > [data-widescreen*="col(10)"] { grid-column: span 10; }
    & > [data-widescreen*="col(11)"] { grid-column: span 11; }
    & > [data-widescreen*="col(12)"] { grid-column: span 12; }
  }

  [data-widescreen*="gap_col(x0.5)"] { column-gap: calc(var(--nudge) * 0.5) }
  [data-widescreen*="gap_col(x1)"] { column-gap: calc(var(--nudge) * 1) }
  [data-widescreen*="gap_col(x1.5)"] { column-gap: calc(var(--nudge) * 1.5) }
  [data-widescreen*="gap_col(x2)"] { column-gap: calc(var(--nudge) * 2) }
  [data-widescreen*="gap_col(x3)"] { column-gap: calc(var(--nudge) * 3) }
  [data-widescreen*="gap_col(x6)"] { column-gap: calc(var(--nudge) * 6) }
  [data-widescreen*="gap_col(x12)"] { column-gap: calc(var(--nudge) * 12) }

  [data-widescreen*="gap_row(x0.5)"] { row-gap: calc(var(--nudge) * 0.5) }
  [data-widescreen*="gap_row(x1)"] { row-gap: calc(var(--nudge) * 1) }
  [data-widescreen*="gap_row(x1.5)"] { row-gap: calc(var(--nudge) * 1.5) }
  [data-widescreen*="gap_row(x2)"] { row-gap: calc(var(--nudge) * 2) }
  [data-widescreen*="gap_row(x3)"] { row-gap: calc(var(--nudge) * 3) }
  [data-widescreen*="gap_row(x6)"] { row-gap: calc(var(--nudge) * 6) }
  [data-widescreen*="gap_row(x12)"] { row-gap: calc(var(--nudge) * 12) }
}
